@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-behavior: smooth;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-bg text-text antialiased min-h-screen;
    font-feature-settings: 'liga' 1;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
